p {
    font-family: 'Noto Sans', sans-serif;
}
a,
a:hover,
a:focus {
    color: #6f9ef2;
}
.cf-page-container h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 54px;
}
.cf-page-container h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 22px;
}
.cf-underline-dark {
    width: 15%;
    height: 1px;
    background: #333333;
    display: inline-block;
}
.cf-underline-white {
    width: 15%;
    height: 1px;
    background: #ffffff;
    display: inline-block;
}
.cf-page-container {
    padding: 100px 0;
}
.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.pt30 {
    padding-top: 30px;
}
.pt50 {
    padding-top: 50px;
}

/*****************************/
/***** NAVBAR *****/
/*****************************/
.navbar-default {
    border-color: transparent;
    background-color: rgba(0,0,0,0.8);;

}
.navbar-default .navbar-brand {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #6f9ef2;
}
.navbar-default .navbar-collapse {
    border-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #6f9ef2;
    background-color: #6f9ef2;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #6f9ef2;
}
.navbar-default .nav li a {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 100;
    font-size: 22px;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #6f9ef2;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #6f9ef2;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #6f9ef2;
    background-color: transparent;
}
@media(min-width:768px) {
    .navbar-default {
        padding: 23px 0;
        border: 0;
       /* background-color: transparent;*/
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 4em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink, .navbar-default.navbar-static {
        padding: 10px 0;
        background-color: rgba(0,0,0,0.8);;
    }

    .navbar-default.navbar-shrink .navbar-brand, .navbar-default.navbar-static .navbar-brand {
        font-size: 1.5em;
        color: #fff;
    }

    .navbar-default.navbar-shrink .nav li a {
        font-size: 1.4em;
    }
}

/*****************************/
/***** HEADER *****/
/*****************************/
.cf-header-container h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 54px;
}
.cf-header-container p {
    font-size: 28px;
    font-weight: 200;
}
.cf-header-container {
    background-image: url(../img/foto-cf.jpg);
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 350px 0;
    color: #ffffff;
}

/*****************************/
/***** SKILLS *****/
/*****************************/
.cf-skills-container {
    padding-top: 60px;
}
.cf-skills-container h4 {
    padding-top: 20px;
}
.cf-icon-skills i {
    background: #ffffff;
    font-size: 50px;
    color: #6f9ef2;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    text-align: center;
    padding-top: 33px;
    border: 1px solid #6f9ef2;
}

/*****************************/
/***** PORTFOLIO *****/
/*****************************/
.cf-portfolio-container {
    background-color: #f1f1f1;
}
.cf-thumb-box {
    border-radius: 4px;
    border-bottom: 2px solid #d9d9d9;
    margin: 0;
    padding: 0;
}
.cf-img-responsive {
    border-radius: 4px 4px 0 0;
    display: block;
    height: auto;
    max-width: 100%;
}
.thumbnail {
    padding: 0;
    margin: 20px 0 0 0;
    border: 0px solid #ddd;
    border-bottom: 1px solid #d9d9d9;
}
.thumbnail .caption {
    padding: 40px;
}

/*****************************/
/***** ABOUT *****/
/*****************************/
.cf-about-container {
    padding-top: 40px;
}
.cf-about-container img {
    padding-bottom: 50px;
}
.cf-about-container h5 {
    padding-bottom: 20px;
}
.cf-about-container h4 {
    padding: 20px 0 5px 0;
    text-transform: uppercase;
}
.cf-icon-about {
    padding-bottom: 80px;
}
.cf-icon-about i {
    background: #6f9ef2;
    font-size: 25px;
    color: #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    padding-top: 19px;
}

/*****************************/
/***** HIRE *****/
/*****************************/

.cf-hire-container {
    background-image: url(../img/fundo-padrao.jpg);
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 350px 0;
    color: #ffffff;
}

.hire-ofilter {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    padding: 20px 0px;
}

/*****************************/
/***** CONTACT *****/
/*****************************/

.cf-touch-body {
    padding-top: 40px;
}
.cf-touch-body-pt>li {
    padding: 0 40px;
}
.cf-social-icons {
    padding-top: 20px;
}
.cf-social-icons a {
    color: #333333;
    font-size: 46px;
}

/*****************************/
/***** FOOTER *****/
/*****************************/

footer {
    background-color: #f1f1f1;
    padding: 40px 0;
    text-transform: uppercase;
    font-size: 18px;
    color: #aaa;
}
footer a {
    color: #aaa;
}
footer .cf-copyright {
    border-left: 1px solid #aaaaaa;
    padding: 0 10px;
}

/*****************************/
/***** BUTTONS *****/
/*****************************/
.cf-btn-bb {
    padding: 30px 30px !important;
    margin: 0 !important;
    line-height: 10px !important;
    border-color: #ffffff;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: lighter !important;
    color: #ffffff !important;
    background-color: transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    font-weight: 400;
}
.cf-btn-bb:hover,
.cf-btn-bb:focus,
.cf-btn-bb:active,
.cf-btn-bb.active,
.open .dropdown-toggle.cf-btn-bb {
    border-color: #6f9ef2;
    color: #fff !important;
    background-color: #6f9ef2 !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    font-weight: 400;
}
.cf-btn-bb:active,
.cf-btn-bb.active,
.open .dropdown-toggle.cf-btn-bb {
    background-image: none;
}
.cf-btn-bb.disabled,
.cf-btn-bb[disabled],
fieldset[disabled] .cf-btn-bb,
.cf-btn-bb.disabled:hover,
.cf-btn-bb[disabled]:hover,
fieldset[disabled] .cf-btn-bb:hover,
.cf-btn-bb.disabled:focus,
.cf-btn-bb[disabled]:focus,
fieldset[disabled] .cf-btn-bb:focus,
.cf-btn-bb.disabled:active,
.cf-btn-bb[disabled]:active,
fieldset[disabled] .cf-btn-bb:active,
.cf-btn-bb.disabled.active,
.cf-btn-bb[disabled].active,
fieldset[disabled] .cf-btn-bb.active {
    border-color: #6f9ef2;
    background-color: #6f9ef2;
}